# Java build output
*.class
out/
build/
target/

# IDE and local files
.idea/
*.iml
*.log
.env
.env.*
data/

# for https://github.com/LiquidFun/aoc_tiles
.aoc_tiles/*
!.aoc_tiles/tiles/
session.cookie
