.idea/
data/
/out/*
!out/production
/out/production/*
!out/production/aoc2023
/out/production/aoc2023/*
!out/production/aoc2023/src

# for https://github.com/LiquidFun/aoc_tiles
.aoc_tiles/*
!.aoc_tiles/tiles/
session.cookie